---
import Layout from "../layouts/Layout.astro";
import ClosureBanner from "../components/ClosureBanner.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Formules from "../components/Formules.astro";
import Carte from "../components/Carte.astro";
import Galerie from "../components/Galerie.astro";
import Localisation from "../components/Localisation.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <ClosureBanner />
  <Header />
  <main>
    <Hero />
    <Formules />
    <Carte />
    <Galerie />
    <Localisation />
  </main>
  <Footer />
</Layout>
